/Chapter_17/nbproject/private/
/Chapter_17/build/
/HelpWork/nbproject/private/
/HelpWork/build/
/ConseptualManu/nbproject/private/
/ConseptualManu/build/
/Chapter_18/nbproject/private/
/HelpWork_ch_18/nbproject/private/
/Chapter_18/build/
/Chapter_24/nbproject/private/
/Chapter_24/build/
/Chapter_24/dist/
/jdbcConnect/nbproject/private/
/jdbcConnect/build/
/OracleConnect/nbproject/private/
/OracleConnect/build/
/SwingCrud/nbproject/private/
/SwingCrud/build/
/xml/nbproject/private/